<div class="about-container">
    <img class="my-image" src="assets/images/SurabhiPatil.jpg">
    <div class="content-about">
        <div>Hello!</div>
        <div>I am Surabhi Patil</div>
        <div>I am a front end developer with 5 years of experience in front end technologies like HTML, CSS, JavaScript and JavaScript frameworks like AngularJs, Angular(2+), React, Redux, NodeJs. I completed my Master's Degree in Computer and Information Sciences from Indiana University-Purdue University. I am currently working as a Software Engineer, Front-end at J.P.Morgan Chase. In my free time I love swimming and playing badminton.  </div>
    </div>
</div>
