<div class="skills-container">
    <div class="technical-skills">
        <div class="heading">Technical Skills:</div>
        <ul>
            <li>
                <span class="list-heading">Currently Learning Frameworks:</span> 
                <span>React, Redux</span>
            </li>
            <li>
                <span class="list-heading">Languages:</span>
                <span>Javascript, TypeScript, HTML, CSS, Java</span>
            </li>
            <li>
                <span class="list-heading">Frameworks:</span> 
                <span>AngularJS (1.x and 2+), NodeJS, ExpressJs</span>
            </li>
            <li>
                <span class="list-heading">Unit testing:</span>
                <span>Karma, Jasmine, Mocha</span>
            </li>
            <li>
                <span class="list-heading">Web Accessibility tools:</span> 
                <span>W15yquick check, Sortsite, Axe, Screen readers like JAWS, Voiceover, NVDA</span>
            </li>
            <li>
                <span class="list-heading">Version control:</span>
                <span>Git and Team foundation Server</span> 
            </li>
            <li>
                <span class="list-heading">DataBase:</span>
                <span>Microsoft SQL Server 2000/05/08, Oracle 10g/9i: SQL, PL/SQL.</span>
            </li>
            <li>
                <span class="list-heading">Operating System:</span>
                <span>Windows and MAC-ios</span>
            </li>
            <li>
                <span class="list-heading">IDES:</span>
                <span>Sublime Text , Xcode, Visual Studio, Eclipse, Dreamweaver</span>
            </li>
        </ul>
    </div>
</div>